#observablehq-main,
#observablehq-header,
#observablehq-footer 
{
  max-width: none;
  margin-left: 15vw;
}

h1, h2, h3, h4,p {
  max-width: none;
  font-family: sans-serif

};

h1 {
  font-size: 0.3rem !important;
  margin-bottom: 1rem;
};

h2 {
  font-size: 1.3rem;
  margin-bottom: 0.75rem;
};

/* unvisited link */
a:link {
  color: black;
  border-bottom:1px dashed black;

}

/* visited link */
a:visited {
color: black;
  text-decoration: none;
}

/* mouse over link */
a:hover {
color: #067;
text-decoration: none!important;
}

/* selected link */
a:active {
color: #067;
text-decoration: none!important;
}

text {
  fill: #222;
}

.mark {
  fill: #333;
}

line.mark {
  stroke: #333;
  stroke-width: 2;
}

.heterogeneity-band {
	fill: #067;
	mix-blend-mode: multiply;
}

svg{
  font-family: sans-serif;
  font-size: 0.9rem
}

rect.overlay {
	stroke: black;
}

rect.selection {
	stroke: none;
  fill: steelblue;
  fill-opacity: 0.6;
}

#labelleft, #labelright {
	dominant-baseline: hanging;
  font-size: 12px;
}

#labelleft {
	text-anchor: end;
}

#labelright {
	text-anchor: start;
}

.ttip{
  position:relative; /*  making the .tooltip span a container for the tooltip text */
  border-bottom:1px dashed black; /* little indicater to indicate it's hoverable */

}
.ttip:before {
  content: attr(data-text); /* here's the magic */
  position:absolute;
    /* reset defaults */
  left:initial;
  margin:initial;
  /* vertically center */
  top:50%;
  transform:translateY(-50%);
  /* set new values */
  right:100%;
  margin-right:15px;

  /* basic styles */
  width: 15vw;
  padding:8px;
  border-radius:10px;
  background:white;
  color: black;
  text-align:right;

  display:none; /* hide by default */
}

.ttip:hover:before {
  display:block;
}

input[type="checkbox"]:checked {
  accent-color: #067;
}


:root {

  --theme-foreground-focus:   #067;


}


