
.double-range{
    position: relative;
    width: 350px;
    display: grid;
    grid-template-columns: 10cap 20cap 10cap;
    gap: 15px;
        font-family: 'Times New Roman', Times, serif;


}
.double {
font: 13px/1.2 var(--sans-serif);
  position: absolute;
  background: none;
  width: 30% !important;
  pointer-events: none;
  -moz-appearance: none;
  -webkit-appearance: none; 
  appearance: none;
  transform: translateY(-50%);
  top: 50%;
  height: 7px;
  background-color: #efefef;
  border-radius: 10px;
}


.double::-webkit-slider-thumb {
  height: 15px;
  width: 15px;
  border-radius: 50%;
    background-color: #067;
  pointer-events: auto;
  -webkit-appearance: none;
  cursor: pointer;
  margin-bottom: 1px;
}
.double::-moz-range-thumb {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: #4269d0;
  pointer-events: auto;
  -moz-appearance: none;
  cursor: pointer;
  margin-top: 30%;
}
#fromSlider {
  height: 0;
  z-index: 1;
}

input {
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;

}
label{
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
}